h2 {
  text-align: center;
}

mat-card-subtitle {
  font-family: "Hind Madurai";
  font-weight: bold;
}

table {
  margin: 0 auto;
  height: 100%;
  width: 90%;

  td, th {
    vertical-align: middle;
  }
}
