<div mat-dialog-title fxLayout="column" style="text-align: center">{{dialogTitle}}</div>
<div [formGroup]="productForm" mat-dialog-content fxLayout="column">
  <mat-form-field class="full-width">
    <label>Código</label>
    <input matInput type="text" formControlName="codigo">
    <mat-error>{{errorString('código')}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Nombre</label>
    <input matInput type="text" formControlName="nombre">
    <mat-error>{{errorString('nombre')}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Precio de compra</label>
    <input matInput type="text" formControlName="precioCompra">
    <mat-error>{{errorString('precio de compra')}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Precio de venta</label>
    <input matInput type="text" formControlName="precioVenta">
    <mat-error>{{errorString('precio de venta')}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Stock inicial</label>
    <input matInput type="text" formControlName="cantidad">
    <mat-error>{{errorString('stock inicial')}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Peso por unidad</label>
    <input matInput type="text" formControlName="peso">
    <mat-error>{{errorString('peso por unidad')}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Proveedor</label>
    <mat-select formControlName="proveedor">
      <mat-option *ngFor="let proveedor of proveedores" [value]="proveedor">
        {{proveedor}}
      </mat-option>
    </mat-select>
    <mat-error>{{errorString('proveedor')}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Categoria</label>
    <input matInput type="text" formControlName="categoria">
    <mat-error>{{errorString('categoria')}}</mat-error>
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="primary"
    [disabled]="!productForm.valid"
    (click)="guardar()"
  >
    <mat-icon>check</mat-icon>
    Guardar
  </button>

  <button
    mat-raised-button
    color="warn"
    (click)="cancelar()"
  >
    <mat-icon>close</mat-icon>
    Cancelar
  </button>
</div>
