<div mat-dialog-title fxLayout="column" style="text-align: center">{{dialogTitle}}</div>
<div [formGroup]="productForm" mat-dialog-content fxLayout="column">
  <mat-form-field class="full-width">
    <label>Código</label>
    <span class="required">*</span>
    <input matInput type="text" formControlName="codigo">
    <mat-error>{{errorString('código')}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Categoría</label>
    <span class="required">*</span>
    <mat-select formControlName="categoria">
      <mat-option *ngFor="let cat of categorias" [value]="cat.nombre">
        {{cat.nombre}}
      </mat-option>
    </mat-select>
    <mat-error>{{errorString('categoría')}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Nombre</label>
    <span class="required">*</span>
    <input matInput type="text" formControlName="nombre">
    <mat-error>{{errorString('nombre')}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Precio de compra</label>
    <span class="required">*</span>
    <input matInput type="number" pattern="^\d*(\.\d{0,2})?$" formControlName="precioCompra">
    <mat-error>{{errorString('precio de compra')}}</mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <label>Precio de venta</label>
    <span class="required">*</span>
    <input matInput type="number" pattern="^\d*(\.\d{0,2})?$" formControlName="precioVenta">
    <mat-error>{{errorString('precio de compra')}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Fecha Vencimiento</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="fechaVencimiento" >
    <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="full-width" *ngIf="!data.producto">
    <label>Stock inicial</label>
    <span class="required">*</span>
    <input matInput type="text" formControlName="cantidad">
    <mat-error>{{errorString('stock inicial')}}</mat-error>
  </mat-form-field>
  <!-- <mat-form-field class="full-width">
    <label>Peso por unidad</label>
    <span class="required">*</span>
    <input matInput type="text" formControlName="peso">
    <mat-error>{{errorString('peso por unidad')}}</mat-error>
  </mat-form-field> -->
  <mat-form-field class="full-width">
    <label>Proveedor</label>
    <span class="required">*</span>
    <mat-select formControlName="proveedorNombre">
      <mat-option *ngFor="let proveedor of proveedores" [value]="proveedor">
        {{proveedor}}
      </mat-option>
    </mat-select>
    <mat-error>{{errorString('proveedor')}}</mat-error>
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="primary"
    [disabled]="!productForm.valid"
    (click)="guardar()"
  >
    <mat-icon>check</mat-icon>
    Guardar
  </button>

  <button
    mat-raised-button
    color="warn"
    (click)="cancelar()"
  >
    <mat-icon>close</mat-icon>
    Cancelar
  </button>
</div>
