<p mat-dialog-title class="add-padding heading" style="text-align: center">Formas de Pago</p>
<mat-dialog-content class="mat-typography" style="width:100%">
  
    <mat-grid-list cols="4" rowHeight="6:8">
        <mat-grid-tile>
          <mat-card class="module-card" (click)="cerrarConTicket()" fxLayout="column" fxLayoutAlign="center center">
            <mat-icon class="module-icon">report</mat-icon>
            <h1 class="module-title" style="text-align: center;">Factura Online</h1>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="module-card" (click)="cerrarSinTicket()" fxLayout="column" fxLayoutAlign="center center">
            <mat-icon class="module-icon">report_off</mat-icon>
            <h1 class="module-title">Pedido Pendiente</h1>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="module-card" fxLayout="column" fxLayoutAlign="center center">
            <mat-icon class="module-icon">credit_card</mat-icon>
            <h1 class="module-title">Tarjetas</h1>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="!show">
          <mat-card class="module-card"  fxLayout="column" fxLayoutAlign="center center">
            <mat-icon class="module-icon">money-bill-alt</mat-icon>
            <h1 class="module-title">Efectivo</h1>
          </mat-card>
        </mat-grid-tile>
       
      </mat-grid-list>
</mat-dialog-content>
<mat-dialog-actions >

</mat-dialog-actions>

<style>
.my-full-screen-dialog .mat-dialog-container {
  max-width: none;
  width: 100vw;
  height: 100vh;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
</style>
