.tituloCard {
  text-align: center;
}

.module-card {
  width: 100%;
  background-color: #FFCA05;
  // display: flex;
  // align-items: center;
  cursor: pointer;
}

.clave-card {
  padding: 0px;
}

.module-card:hover {
  opacity: 0.8;
}

.module-tile {
  width: 150px;
  height: 150px;
}

.module-icon {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 0px;
  color: white;
  font-size: 60px;
}

.module-title {
  margin-top: 40px;
  font-size: 1.6em;
}
