<div class="add-padding flex flex-direction-row align-items-center justify-center container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>

    <mat-card-content>
      <form class="login-form">
        <mat-form-field>
          <input matInput #email placeholder="Email" type="email" [formControl]="emailFormControl">
          <!-- <mat-error *ngIf="emailFormControl.hasError('pattern')">
            Por favor ingresar password valido
          </mat-error> -->
        </mat-form-field>
        <mat-form-field>
          <input matInput #password placeholder="Password" type="password">
        </mat-form-field>
        <mat-error class="error" *ngIf="!success">
          Combinacion invalidad de usuario y constrasenia
        </mat-error>
        <p routerLink="/resetpassword" class="reset error">Olvide la contrasenia?</p>
      </form>
      <button mat-raised-button (click)="userLogin(email.value, password.value)">Login</button>
    </mat-card-content>
  </mat-card>
</div>
