<div class="add-padding flex flex-direction-column align-items-center justify-center container">
  <img src="../assets/icons/iconlogin.png">

  <mat-card>
    <mat-card-title>Ingreso al sistema</mat-card-title>

    <mat-card-content>
      <form class="login-form" [formGroup]="loginForm">
        <mat-form-field>
          <input
            matInput
            #userInput
            placeholder="usuario"
            type="text"
            formControlName="user"
          >
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="contraseña"
            type="password"
            formControlName="password"
            (keyup.enter)="userLogin()"
          >
        </mat-form-field>
        <mat-error class="error" *ngIf="error">
          {{error}}
        </mat-error>
        <p routerLink="/resetpassword" class="reset error">¿Olvidaste la contraseña?</p>
      </form>

      <button
        mat-raised-button
        color="primary"
        (click)="userLogin()"
        [disabled]="!loginForm.valid"
      >
      <mat-icon>done</mat-icon>
        Entrar
      </button>
    </mat-card-content>
  </mat-card>
</div>
