<mat-card class="add-margin" style=" display: flex;
  justify-content: center; text-align: center;
  align-items: center;">

  <mat-card-content>
    <h2 style="text-align: center">VENTAS DEL DÍA</h2>
    <div fxLayout="row" fxLayoutGap="12px" class="flex flex-direction-column" [style.margin-top]="'12px'">
        <mat-card-content>
          <div fxLayout="row" fxLayoutGap="12px" [style.margin-top]="'12px'">
            <mat-card>
              <div class="mat-body-2">TOTAL<br /> ${{totalVentasHoy}}</div>
            </mat-card>
            <mat-card>
              <div class="mat-body-2">EFECTIVO <br />${{totalVentasEfectivoHoy}}</div>
            </mat-card>
            <mat-card>
              <div class="mat-body-2">DEBITO <br /> ${{totalVentasDebitoHoy}}</div>
            </mat-card>
            <mat-card>
              <div class="mat-body-2"> MERCADO PAGO <br />${{totalVentasMercadoPagoHoy}}</div>
            </mat-card>
            <mat-card>
              <div class="mat-body-2">TRANSFERENCIAS <br />${{totalVentasTransferenciaHoy}} </div>
            </mat-card>
            <mat-card>
              <div class="mat-body-2">1 CUOTA <br />${{totalVentasUnaCuotaHoy}}</div>
            </mat-card>
            <mat-card>
              <div class="mat-body-2"> 3 CUOTAS <br />${{totalVentasTresCuotasHoy}}</div>
            </mat-card>
            <mat-card>
              <div class="mat-body-2">CUENTA CORRIENTE <br />${{totalVentasCuentaCorrienteHoy}} </div>
            </mat-card>
          </div>
        </mat-card-content>
    </div>
  </mat-card-content>
</mat-card>

<mat-card style=" display: flex;
  justify-content: center; text-align: center;
  align-items: center;">
    <mat-card-content>
      <h2 style="text-align: center">VENTAS DEL MES</h2>
      <div fxLayout="row" fxLayoutGap="12px" [style.margin-top]="'12px'">

        <mat-card>
          <div class="mat-body-2">TOTAL<br /> ${{totalVentasMes}}</div>
        </mat-card>
        <mat-card>
          <div class="mat-body-2">EFECTIVO <br />${{totalVentasEfectivoMes}}</div>
        </mat-card>
        <mat-card>
          <div class="mat-body-2">DEBITO <br /> ${{totalVentasDebitoMes}}</div>
        </mat-card>
        <mat-card>
          <div class="mat-body-2"> MERCADO PAGO <br />${{totalVentasMercadoPagoMes}}</div>
        </mat-card>
        <mat-card>
          <div class="mat-body-2">TRANSFERENCIAS <br />${{totalVentasTransferenciaMes}} </div>
        </mat-card>
        <mat-card>
          <div class="mat-body-2">1 CUOTA <br />${{totalVentasUnaCuotaMes}}</div>
        </mat-card>
        <mat-card>
          <div class="mat-body-2"> 3 CUOTAS <br />${{totalVentasTresCuotasMes}}</div>
        </mat-card>
        <mat-card>
          <div class="mat-body-2">CUENTA CORRIENTE <br />${{totalVentasCuentaCorrienteMes}} </div>
        </mat-card>
      </div>
    </mat-card-content>
</mat-card>

<dynamic-table [tableTitle]="tableTitle" [dataSource]="dataSource" [headerTitles]="headerTitles"
  [tableHeaders]="tableHeaders" [columnCells]="columnCells" [formatTableCells]="formatTableCells"
  [isLoading]="isLoading">
</dynamic-table>