
    <div mat-dialog-header class="modal-header">
      <h5 mat-dialog-title class="modal-title">Fecha de Entrega</h5>
      <h5 mat-title class="modal-title">{{ venta.agenda.start | date: 'dd/MM/yyyy' }}</h5>
    </div>
    <div mat-dialog-content fxLayout="column">
    <mat-form-field class="full-width">
      <label>Cliente</label>
      <input matInput type="text" readonly [(ngModel)]="venta.cliente.razonSocial">
    </mat-form-field>
    <mat-form-field class="full-width">
        <label>Codigo de Venta:</label>
        <input matInput type="text" readonly [(ngModel)]="venta.id">
    </mat-form-field>
    <mat-form-field class="full-width">
        <label>Responsable:</label>
        <input matInput type="text" readonly [(ngModel)]="venta.pedido.usuario">
    </mat-form-field>
    <mat-form-field class="full-width">
      <label>Direccion:</label>
      <input matInput [(ngModel)]="venta.direccion" type="text" />
    </mat-form-field>
    <mat-form-field>
      <label>Observaciones:</label>
      <input matInput [(ngModel)]="venta.observacion" type="text" />
    </mat-form-field>
    <!-- <mat-form-field>
        <label>Estado:</label>
        <input matInput readonly type="text" [(ngModel)]="venta.pedido.estado">
      <pre>{{ evento?.venta.pedido.estado }}</pre>
    </mat-form-field> -->
    <mat-form-field>
        <label>NroVenta:</label>
        <input matInput type="text" readonly [(ngModel)]="venta.id">
    </mat-form-field>
    <div class="modal-footer">
      <button type="button" mat-button class="btn btn-outline-secondary" (click)="guardarEnvio()">
        GUARDAR
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="onNoClick()">
        <mat-icon>close</mat-icon>
        Cancelar
      </button>
    </div>
  </div>
