<div mat-dialog-title fxLayout="column" style="text-align: center">Detalle de entrega</div>

<div mat-dialog-content fxLayout="column">
  <mat-form-field class="full-width">
    <label>Codigo de Venta:</label>
    <input matInput type="text" readonly [(ngModel)]="venta.id" />
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Fecha de entrega:</label>
    <input matInput type="text" readonly [value]="venta.agenda.start | date: 'dd/MM/yyyy'" />
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Responsable:</label>
    <input matInput type="text" readonly [(ngModel)]="venta.pedido.usuario" />
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Cliente:</label>
    <input matInput type="text" readonly [(ngModel)]="venta.cliente.razonSocial" />
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Teléfono:</label>
    <input matInput type="text" readonly [value]="venta.cliente.telefono | phonePipe" />
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Direccion:</label>
    <input matInput type="text" readonly [(ngModel)]="venta.direccion" />
  </mat-form-field>
  <mat-form-field>
    <label>Observaciones:</label>
    <input matInput type="text" [readonly]="entregaRealizada" [(ngModel)]="venta.observacion" />
  </mat-form-field>
  <!-- <mat-form-field>
      <label>Estado:</label>
      <input matInput readonly type="text" [(ngModel)]="venta.pedido.estado">
    <pre>{{ evento?.venta.pedido.estado }}</pre>
  </mat-form-field> -->
</div>

<div mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="primary"
    *ngIf="!entregaRealizada"
    (click)="guardarEnvio()"
  >
    <mat-icon>check</mat-icon>
    Guardar
  </button>

  <button
    mat-raised-button
    color="warn"
    *ngIf="!entregaRealizada"
    (click)="onNoClick()"
  >
    <mat-icon>close</mat-icon>
    Cancelar
  </button>

  <button
    mat-raised-button
    color="primary"
    *ngIf="entregaRealizada"
    (click)="onNoClick()"
  >
    <mat-icon>exit_to_app</mat-icon>
    Cerrar
  </button>
</div>
