<mat-card class="ticket-section flex flex-direction-column justify-between">
    <div class="ticket add-margin">
        <mat-card-title class="heading">Cliente: </mat-card-title>
        <ng-select placeholder="Seleccione un cliente" [items]="clientes" bindLabel="nombre" bindValue="id" [(ngModel)]="clienteId">
          <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
            <div><span [ngOptionHighlight]="search">{{item.nombre}}</span></div>
            <small><strong>Cuit:</strong> {{item.cuit}} | <strong>Razon Social:</strong> {{item.razonSocial}}</small>
          </ng-template>
        </ng-select>
    </div>
  <mat-card-title class="add-padding heading">Detalle del pedido</mat-card-title>
  <table class="table-items">
    <tr class="table-header">
      <th style="width: 10%;">Cant</th>
      <th>Producto</th>
      <th style="width: 10%;">Peso unitario</th>
      <th>Precio</th>
      <th>Monto total</th>
      <th style="width: 10%;">Peso total</th>
      <th>Eliminar</th>
    </tr>
    <tr *ngFor="let item of ticket" class="item">
      <td><input matInput type="number" min="1" [max]="item.cantidad" (ngModelChange)="calcularTotal($event, item.id)" [(ngModel)]="item.cantidad"/> </td>
      <td>{{item.nombre}}</td>
      <td>{{item.peso | number: '1.2' | weightPipe}}</td>
      <td>{{item.precioVenta | currency: '$'}}</td>
      <td>{{item.precioVenta*item.cantidad | currency: '$'}}</td>
      <td>{{item.peso*item.cantidad | number: '1.2' | weightPipe}}</td>
      <td style="position: center;">
        <mat-icon (click)="removeItem(item)" class="del">cancel</mat-icon></td>
    </tr>
  </table>
  <mat-card-actions class="summary flex flex-direction-column">
    <div class="totals flex flex-direction-row justify-between">
      <h3>P. Total: {{cartPeso | number: '1.2' | weightPipe}}</h3>
      <h3>M. Neto: {{cartTotal*0.79 | currency: '$'}}</h3>
      <h3>Iva: {{cartTotal*0.21 | currency: '$'}}</h3>
      <h3 class="total">M. Final: {{cartTotal | currency: '$'}}</h3>
    </div>
    <div class="flex flex-direction-row buttons">
      <button
        mat-raised-button
        color="warn"
        (click)="cerrar()"
      >
        <mat-icon>close</mat-icon>
        Cancelar
      </button>

      <button
        mat-raised-button
        color="basic"
        (click)="clearCart()"
        [disabled]="!hayDatos()"
      >
        <mat-icon>check</mat-icon>
        Limpiar
      </button>

      <button
        mat-raised-button
        color="primary"
        (click)="checkout()"
      >
        <mat-icon>account_balance_wallet</mat-icon>
        Cobrar
      </button>
    </div>
  </mat-card-actions>
</mat-card>
