<mat-card class="ticket-section flex flex-direction-column justify-between">
  <div class="ticket add-margin">
    <mat-card-title class="heading">Cliente: </mat-card-title>
    <ng-select placeholder="Seleccione un cliente" [items]="clientes" bindLabel="nombre" bindValue="id"
      [(ngModel)]="clienteId">
      <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
        <div><span [ngOptionHighlight]="search">{{item.nombre}}</span></div>
        <small><strong>Cuit:</strong> {{(item.cuit || item.cuil) | cuilPipe}} | <strong>Razon Social:</strong>
          {{item.razonSocial}}</small>
      </ng-template>
    </ng-select>
  </div>
  <mat-card-title class="add-padding heading">Detalle del pedido</mat-card-title>

  <div style="height:200px; overflow:auto;">
    <table class="table-items fixedcol" cellspacing="0" cellpadding="1" border="1">
      <tr class="table-header">
        <th>Cant</th>
        <th>Producto</th>
        <th>Precio</th>
        <th>Monto total</th>
        <th>Descuento</th>
        <th>Eliminar</th>
      </tr>
      <tr *ngFor="let item of ticket" class="item">
        <td style="width: 12%;"><input matInput type="number" min="1" 
          [max]="item.cantidad" (ngModelChange)="calcularTotal($event, item.id)"
            [(ngModel)]="item.cantidad" /> </td>
        <td>{{item.nombre}}</td>
        <td>{{item.precioVenta | currency: '$'}}</td>
        <td>{{ item.descuento != 0 && item.descuento != null
          ? (item.precioVenta*item.cantidad * (item.descuento / 100) | currency: '$')
          : item.precioVenta*item.cantidad | currency: '$'}}</td>
        <td style="width: 5%;"><input matInput type="number" min="0" (ngModelChange)="calcularDesc($event, item.id)"
          [(ngModel)]="item.descuento" /></td>
        <td style="position: center;">
          <mat-icon (click)="removeItem(item)" class="del">cancel</mat-icon>
        </td>
      </tr>
    </table>
  </div>

  <div style="height:20%;">
    <table cellspacing="0" cellpadding="1" border="1">
      <tr>
        <td></td>
        <td>
          <!-- <h3>Iva?: {{cartTotal*0.21 | currency: '$'}}</h3> -->
          <h3>Tipo Venta: 
            <mat-select [(value)]="tipoTransaccion"  style="width: 50%;text-align: center"
            (selectionChange)="actualizarTipoTransaccion()">
              <mat-option
              style="text-align: center"
              value="TRANSFERENCIA">TRANSFERENCIA</mat-option>
              <mat-option 
              style="text-align: center"
              value="EFECTIVO">EFECTIVO</mat-option>
              <mat-option 
              style="text-align: center"
              value="DEBITO">DEBITO</mat-option>
              <mat-option 
              style="text-align: center"
              value="1 CUOTA">1 CUOTA</mat-option>
              <mat-option 
              style="text-align: center"
              value="3 CUOTAS">3 CUOTAS</mat-option>
              <mat-option 
              style="text-align: center"
              value="MERCADO PAGO">MERCADO PAGO</mat-option>
              <mat-option style="text-align: center"
              value="CUENTA CORRIENTE">CUENTA CORRIENTE</mat-option>
            </mat-select>
        </h3>
        </td>
        <td>
          <h3 class="total">Total: {{ (descuento == 0 ? cartTotal : cartTotal - cartTotal * (descuento / 100)) | currency: '$'}}</h3>
        </td>
      </tr>
      <tr style="background-color: white; height:2px;">
        <td></td>
        <td>
          <h3>Descuento: 
            <mat-form-field style="width: 25%;">
              <input matInput [(ngModel)]="descuento" name="descuentoName"
              style="text-align: center"
                #descuentoName="ngModel" type="number"><span matSuffix>%</span>
            </mat-form-field>
          </h3>
        </td>
        <td>
          <h3>PagaCon:
            <span matPrefix>$</span>
            <mat-form-field style="width: 25%;">
              <input matInput [(ngModel)]="pagaCon" 
              style="text-align: center"
              name="pagaConName" #pagaConName="ngModel" type="number">
            </mat-form-field>
          </h3>
        </td>
      </tr>
      <tr>
        <td>
         
        </td>
        <td>
          
         
        
        </td>
        <td>
          <h3>Vuelto: {{ this.pagaCon == 0 ? 0 : this.pagaCon - this.cartTotal | currency: '$'}}</h3>
        </td>
      </tr>
    </table>
  </div>

  <mat-card-actions class="summary flex flex-direction-column">
    <div class="flex flex-direction-row buttons">
      <button mat-raised-button color="warn" (click)="cerrar()">
        <mat-icon>close</mat-icon>
        Cancelar
      </button>

      <button mat-raised-button color="basic" (click)="clearCart()" [disabled]="!hayDatos()">
        <mat-icon>check</mat-icon>
        Limpiar
      </button>

      <button mat-raised-button color="primary" (click)="checkout()">
        <mat-icon>account_balance_wallet</mat-icon>
        Cobrar
      </button>
    </div>
  </mat-card-actions>
</mat-card>