<mat-card class="ticket-section flex flex-direction-column justify-between" style="height: 90%;">
    <div class="ticket add-margin">
        <mat-card-title style="text-align: left;" class="heading">Cliente: </mat-card-title>
        <ng-select placeholder="Seleccione Cliente" [items]="clientes" bindLabel="nombre" bindValue="id" [(ngModel)]="clienteId">
          <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
            <div><span [ngOptionHighlight]="search">{{item.nombre}}</span></div>
            <small><strong>Cuit:</strong> {{item.cuit}} | <strong>Razon Social:</strong> {{item.razonSocial}}</small>
          </ng-template>
        </ng-select>
    </div>
  <mat-card-title class="add-padding heading">Detalle de Pedido</mat-card-title>
  <table class="items" style="font-size: small;">
    <tr class="table-header">
      <th style="width: 10%;">Cant</th>
      <th>Item</th>
      <th style="width: 10%;">Peso</th>
      <th>PC</th>
      <th>PV</th>
      <th>$ Total</th>
      <th style="width: 10%;">Kg Total</th>
      <th>Eliminar</th>
    </tr>
    <tr *ngFor="let item of ticket" class="item">
      <td><input style="width: 50%;" matInput (ngModelChange)="calcularTotal($event, item.id)" [(ngModel)]="item.cantidad" value="item.cantidad"/> </td>
      <td>{{item.nombre}}</td>
      <td>{{item.peso | number: '1.2' | weightPipe}}</td>
      <td>{{item.precioCompra | currency: '$'}}</td>
      <td>{{item.precioVenta | currency: '$'}}</td>
      <td>{{item.precioVenta*item.cantidad | currency: '$'}}</td>
      <td>{{item.peso*item.cantidad | number: '1.2' | weightPipe}}</td>
      <td style="position: center;">
        <!-- <mat-icon (click)="addItem(item)" class="del">control_point</mat-icon>
        <mat-icon (click)="subtractOne(item)" class="del">indeterminate_check_box</mat-icon> -->
        <mat-icon (click)="removeItem(item)" class="del">cancel</mat-icon></td>
    </tr>
  </table>
  <mat-card-actions class="summary flex flex-direction-row align-items-center justify-between">
    <h3>T. Neto: {{cartTotal*0.79 | currency: '$'}}</h3>
    <h3>Iva: {{cartTotal*0.21 | currency: '$'}}</h3>
    <h3 class="total">T. Final: {{cartTotal | currency: '$'}}</h3>
    <h3>Peso: {{cartPeso | number: '1.2' | weightPipe}}</h3>
    <div class="flex flex-direction-row buttons">
      <button class="" mat-raised-button (click)="clearCart()">Limpiar</button>
      <button class="checkout" mat-raised-button (click)="checkout()">Cobrar</button>
    </div>
  </mat-card-actions>
</mat-card>
