@import '../../app.component.scss';

.ticket-section {
  min-height: 343px;
  border: 1px solid $main-color;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  height: 90%;

  .heading {
    color: $main-color;
    font-family: $main-font;
    text-align: left;
  }
}

.table-items {
  width: 100%;
  font-size: small;

  .table-header {
    text-align: left;
    font-family: $body-font;
    font-weight: 700;
  }

  .item {
    font-family: $body-font;

    td {
      &:first-of-type {
        input {
          width: 90%;
        }
      }

      &:last-of-type {
        position: center;

        .del {
          color: grey;

          &:hover {
            color: black;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.summary {
  margin-top: auto;

  .totals {
    align-self: flex-end;

    h3 {
      margin: auto 10px;

      &:last-of-type {
        font-weight: bold;
      }
    }
  }

  .buttons {
    align-self: flex-end;
    margin-top: 10px;

    button {
      margin: auto 10px;
    }
  }
}

td, th {
  padding: 0.5rem;
  vertical-align: middle;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.checkout {
  margin-right: 0.75rem;
  background-color: rgb(214, 102, 102);
}


.fixedcol table th {
  position: -webkit-sticky; // this is for all Safari (Desktop & iOS), not for Chrome
  position: sticky;
  top: 0;
  z-index: 10; // any positive value, layer order is global
  background: #fff;
}