<app-notification></app-notification>
<div class="container">
  <mat-card class="module-card agenda-card" routerLink="/agenda" fxLayout="column">
    <mat-icon class="module-icon">event</mat-icon>
    <h1 class="module-title">Agenda</h1>
  </mat-card>

  <mat-grid-list cols="4" rowHeight="9:8">
    <mat-grid-tile>
      <mat-card *ngIf="verEstado(); else notShow" routerLink="/caja" fxLayout="column">
        <mat-icon class="module-icon">account_balance</mat-icon>
        <h1 class="module-title">Caja</h1>
      </mat-card>
      <ng-template #notShow>
        <mat-card fxLayout="column">
          <mat-icon class="module-icon">cancel</mat-icon>
          <h1 class="module-title">Caja Cerrada</h1>
        </mat-card>
      </ng-template>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card routerLink="/pedidos" fxLayout="column">
        <mat-icon class="module-icon">shopping_cart</mat-icon>
        <h1 class="module-title">Pedidos</h1>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card routerLink="/ventas" fxLayout="column">
        <mat-icon class="module-icon">assignment</mat-icon>
        <h1 class="module-title">Ventas</h1>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card routerLink="/stock" fxLayout="column">
        <mat-icon class="module-icon">category</mat-icon>
        <h1 class="module-title">Stock</h1>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="4" rowHeight="5:4">
    <mat-grid-tile>
      <mat-card routerLink="/reportes" fxLayout="column">
        <mat-icon class="module-icon">insert_chart</mat-icon>
        <h1 class="module-title">Reportes</h1>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card routerLink="/proveedores" fxLayout="column">
        <mat-icon class="module-icon">business</mat-icon>
        <h1 class="module-title">Proveedores</h1>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card routerLink="/clientes" fxLayout="column">
        <mat-icon class="module-icon">person</mat-icon>
        <h1 class="module-title">Clientes</h1>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile >
      <mat-card routerLink="/users" fxLayout="column">
        <mat-icon class="module-icon">supervisor_account</mat-icon>
        <h1 class="module-title">Usuarios</h1>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
