<div mat-dialog-title fxLayout="column" style="text-align: center">Cambiar contraseña del usuario</div>
<div mat-dialog-content fxLayout="column">
  <mat-form-field class="full-width">
    <label>Usuario</label>
    <input matInput type="text" disabled [(ngModel)]="usuario.nombre">
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Contraseña anterior</label>
    <input matInput type="password" [ngClass]="{'error': errorPass}" [(ngModel)]="passObj.anterior">
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Nueva contraseña</label>
    <input matInput type="password" [ngClass]="{'error': errorPass}" [(ngModel)]="passObj.nueva">
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Repetir nueva contraseña</label>
    <input matInput type="password" [ngClass]="{'error': errorPass}" [(ngModel)]="passObj.repetirNueva">
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="primary"
    (click)="guardarCambios()"
  >
    <mat-icon>check</mat-icon>
    Guardar
  </button>
  <button
    mat-raised-button
    color="warn"
    (click)="cancelarCambios()"
  >
    <mat-icon>close</mat-icon>
    Cancelar
  </button>
</div>
