@import '../app.component.scss';

.navbar {
  min-height: 3rem;
  background-color: $main-color;
  justify-content: space-between;
}

.title {
  color: white;
  white-space: nowrap;
  margin-right: 45.25rem;
  font-family: $main-font;
  font-size: 1.25rem;
  cursor: pointer;
}

.subtitle {
  color: white;
  font-family: $secondary-font;
}

.config-section {
  color: white;
  font-family: $main-font;

  span {
    margin: auto 0.25rem;
    font-size: 0.95rem;
  }

  button {
    margin: auto 0;
  }
}
