<div color="primary" class="navbar flex flex-direction-row align-items-center">
  <div class="flex flex-direction-row titles">
    <h1 routerLink="/welcome" class="title add-margin">Clinker Construcciones</h1>
    <h2 class="subtitle add-margin"></h2>
  </div>

  <div class="flex flex-direction-row config-section" *ngIf="showUser">
    <span class="add-margin">{{showUser}}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</div>

<!-- Mobile Menu -->
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/agenda">
    <mat-icon>event</mat-icon>
    <span>Agenda</span>
  </button>
  <button mat-menu-item routerLink="/home">
    <mat-icon>shopping_cart</mat-icon>
    <span>Caja</span>
  </button>
  <button mat-menu-item routerLink="/pedidos">
    <mat-icon>history</mat-icon>
    <span>Pedidos</span>
  </button>
  <button mat-menu-item routerLink="/ventas">
    <mat-icon>assessment</mat-icon>
    <span>Ventas</span>
  </button>
  <button mat-menu-item routerLink="/stock">
    <mat-icon>category</mat-icon>
    <span>Stock</span>
  </button>
  <button mat-menu-item routerLink="/administracion">
    <mat-icon>store</mat-icon>
    <span>Administración</span>
  </button>
  <button mat-menu-item routerLink="/proveedores">
    <mat-icon>business</mat-icon>
    <span>Proveedores</span>
  </button>
  <button mat-menu-item routerLink="/clientes">
    <mat-icon>person</mat-icon>
    <span>Clientes</span>
  </button>
  <button mat-menu-item routerLink="/users">
    <mat-icon>supervisor_account</mat-icon>
    <span>Usuarios</span>
  </button>
  <button mat-menu-item routerLink="/" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Cerrar sesion</span>
  </button>
</mat-menu>
