<div *ngIf="showUser" style="background-color: #fab000;" class="navbar flex flex-direction-row align-items-center">
  <div class="flex flex-direction-row titles d-flex justify-content-center">
    <img routerLink="/welcome" height="50px" 
    style="padding-left: 50%; cursor: pointer;" src="../assets/icons/hauoratext.png">
    <!-- <h1 routerLink="/welcome" class="title add-margin">
      HAUORA
    </h1> -->
  </div>

  <div class="flex flex-direction-row config-section">
    <span class="add-margin">{{showUser}}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</div>

<!-- Mobile Menu -->
<mat-menu #menu="matMenu">
  <!-- <button mat-menu-item routerLink="/agenda">
    <mat-icon>event</mat-icon>
    <span>Agenda</span>
  </button> -->
  <button mat-menu-item routerLink="/caja">
    <mat-icon>account_balance</mat-icon>
    <span>Estado de Caja</span>
  </button>
  <button mat-menu-item routerLink="/pedidos">
    <mat-icon>shopping_cart</mat-icon>
    <span>Pedidos</span>
  </button>
  <button mat-menu-item routerLink="/ventas">
    <mat-icon>assignment</mat-icon>
    <span>Ventas</span>
  </button>
  <button mat-menu-item routerLink="/stock">
    <mat-icon>category</mat-icon>
    <span>Stock</span>
  </button>
  <button mat-menu-item routerLink="/reportes">
    <mat-icon>insert_chart</mat-icon>
    <span>Reportes</span>
  </button>
  <button mat-menu-item routerLink="/proveedores">
    <mat-icon>business</mat-icon>
    <span>Proveedores</span>
  </button>
  <button mat-menu-item routerLink="/clientes">
    <mat-icon>person</mat-icon>
    <span>Clientes</span>
  </button>
  <button mat-menu-item routerLink="/users">
    <mat-icon>supervisor_account</mat-icon>
    <span>Usuarios</span>
  </button>
  <button mat-menu-item routerLink="/soporte">
    <mat-icon>info</mat-icon>
    <span>Soporte Técnico</span>
  </button>
  <button mat-menu-item routerLink="/" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Cerrar sesion</span>
  </button>
</mat-menu>
