<div mat-dialog-title fxLayout="column" style="text-align: center">Cerrar caja</div>
<div [formGroup]="cerrarCajaForm" mat-dialog-content fxLayout="column">
  <mat-form-field class="full-width">
    <label>Caja abierta con</label>
    <input matInput type="text" readonly [value]="aperturaCaja.monto | currency : '$'">
  </mat-form-field>
  <!-- <mat-form-field class="full-width">
    <label>Debe tener en caja aproximadamente</label>
    <input matInput type="text" readonly [(ngModel)]="cierreCaja.totalCierreCaja">
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Total ventas en turno</label>
    <input matInput type="text" readonly [(ngModel)]="cierreCaja.totalPrecioPedido">
  </mat-form-field> -->
  <mat-form-field class="full-width">
    <label>Monto cierre</label>
    <span class="required">*</span>
    <input matInput type="text" formControlName="monto">
    <mat-error>{{errorString('monto')}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Descripcion</label>
    <span class="required">*</span>
    <input matInput type="text" formControlName="descripcion">
    <mat-error>{{errorString('descripcion')}}</mat-error>
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="primary"
    (click)="cerrarCaja()"
    [disabled]="!cerrarCajaForm.valid"
  >
    <mat-icon>check</mat-icon>
    Guardar
  </button>

  <button
    mat-raised-button
    color="warn"
    (click)="onNoClick()"
  >
    <mat-icon>close</mat-icon>
    Cancelar
  </button>
</div>
