<div mat-dialog-content fxLayout="column">
  <mat-form-field class="full-width">
    <label>Caja abierta con</label>
    <input matInput type="text" readonly [(ngModel)]="apertura.montoApertura">
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Debe tener en caja aproximadamente</label>
    <input matInput type="text" readonly [(ngModel)]="cierreCaja.totalCierreCaja">
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Total ventas en turno</label>
    <input matInput type="text" readonly [(ngModel)]="cierreCaja.totalPrecioVenta">
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Descripción</label>
    <input matInput type="text" [(ngModel)]="cierreCaja.descripcion">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cerrarCaja()" >Guardar</button>
  <button mat-button (click)="onNoClick()">Cancelar</button>
</div>
