<div class="mat-elevation-z8 component-layout">
  <mat-card class="mat-elevation-z">
    <h1>{{tableTitle}}</h1>
  </mat-card>

  <div class="loading-shade" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <ng-container *ngIf="!isLoading">
    <mat-toolbar *ngIf="addButton || searchButton">
      <div fxLayout="row" fxLayoutGap="10px" *ngIf="addButton">
        <button
          mat-flat-button color="primary"
          [disabled]="false"
          (click)="addButton.buttonEvent()">{{ addButton.label || "Agregar"}}</button>
      </div>
      <div *ngIf="searchButton" class="search-section">
        <label>Buscar: </label>
        <mat-form-field>
          <input matInput class="search-input" placeholder="Cliente, Responsable">
        </mat-form-field>
      </div>
    </mat-toolbar>

    <table
      class="mat-elevation-z8 align-middle table-layout"
      mat-table
      [dataSource]="dataSource"
      matSort
      [matSortActive]="headerTitles[0]"
      matSortDirection="desc"
    >
      <ng-container *ngFor="let column of headerTitles">
        <ng-container [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{tableHeaders[column]}}</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="column !== 'opciones'">
              <ng-container [ngSwitch]="formatTableCells[column]">
                <span *ngSwitchCase="'currency'" class="currency">
                  {{
                    element |
                    columnValue: {
                      columns: columnCells,
                      cellValue: column
                    } |
                    currency:'$'
                  }}</span>
                <span *ngSwitchCase="'number'">
                  {{
                    element |
                    columnValue: {
                      columns: columnCells,
                      cellValue: column
                    } |
                    number:'1.2'
                  }}</span>
                <span *ngSwitchCase="'date'">
                  {{
                    element |
                    columnValue: {
                      columns: columnCells,
                      cellValue: column
                    } |
                    date:'medium'
                  }}</span>
                <span *ngSwitchCase="'boolean'">
                  {{
                    element |
                    columnValue: {
                      columns: columnCells,
                      cellValue: column
                    } |
                    booleanPipe
                  }}</span>
                <span *ngSwitchDefault>
                  {{
                    element |
                    columnValue: {
                      columns: columnCells,
                      cellValue: column
                    }
                  }}</span>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="column === 'opciones'" class="option-buttons">
              <ng-container *ngFor="let button of columnCells[column]">
                <button mat-raised-button [color]="button.buttonColor || 'warn'" (click)="button.buttonEvent(element)">
                    <mat-icon *ngIf="button.buttonIcon">{{button.buttonIcon}}</mat-icon>
                    {{button.buttonLabel}}
                  </button>
              </ng-container>
            </ng-container>
          </td>
        </ng-container>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="headerTitles; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: headerTitles;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>
  </ng-container>
</div>
