.component-layout {
  width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    height: 780px;

  mat-card:first-of-type {
    box-shadow: 0px;

    > h1 {
      text-align: center;
      font-size: 210%;
      font-family: "Hind Madurai";
      font-weight: bolder;
    }
  }

  .loading-shade {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  mat-toolbar {
    background-color: #fddf99;
    height: 90px;

    .button-section {
      button {
        &:not(:first-of-type) {
          margin-left: 10px;
        }
      }
    }

    .search-section {
      margin-left: auto;
      margin-right: 5%;

      mat-form-field {
        width: 75%
      }
    }
  }

  table.table-layout {
    line-height: 60px;
    width: 100%;
    table-layout: fixed;

    th, td {
      overflow: hidden;
      width:auto;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 15px;
    }
  }

  .mat-column-opciones > button {
    margin-right: 5px;
  }

  .mat-card:not([class*=mat-elevation-z]){
    box-shadow: 0ch;
  }
}
