<div mat-dialog-title fxLayout="column" style="text-align: center">Registrar depósito</div>
<div [formGroup]="depositoForm" mat-dialog-content fxLayout="column">
  <mat-form-field class="full-width">
    <label>Monto depósito</label>
    <input matInput type="text" formControlName="monto">
    <mat-error>{{errorString('monto')}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
      <label>Descripcion</label>
    <input matInput type="text" formControlName="descripcion">
    <mat-error>{{errorString('descripcion')}}</mat-error>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!depositoForm.valid"
    (click)="guardar()"
  >
    <mat-icon>check</mat-icon>
    Guardar
  </button>

  <button
    mat-raised-button
    color="warn"
    (click)="cancelar()"
  >
    <mat-icon>close</mat-icon>
    Cancelar
  </button>
</div>
