<div mat-dialog-content fxLayout="column">
  <mat-form-field class="full-width">
    <label>Nombre</label>
    <input matInput type="text" [(ngModel)]="proveedor.nombre" required>
    <mat-error>
      Por favor complete este campo, es obligatorio.
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Razon Social</label>
    <input matInput type="text" [(ngModel)]="proveedor.razonSocial" required>
    <mat-error>
      Por favor complete este campo, es obligatorio.
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Telefono</label>
    <input matInput (input)="inputValidator($event)" [(ngModel)]="proveedor.telefono" required>
    <mat-error>
      Por favor complete este campo, es obligatorio.
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>CUIL</label>
    <input matInput (input)="inputValidator($event)" [numeric]='{"acceptValue":"NumericValueType.PositiveNumber","allowDecimal":"false"}' [(ngModel)]="proveedor.cuil" required number>
    <mat-error>
      Por favor complete este campo, es obligatorio.
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Email</label>
    <input matInput type="email" [(ngModel)]="proveedor.email" required>
    <mat-error>
      Por favor complete este campo con un Email válido, es obligatorio.
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Direccion</label>
    <input matInput type="text" [(ngModel)]="proveedor.direccion" required>
    <mat-error>
      Por favor complete este campo, es obligatorio.
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Tipo de Factura</label>
    <input matInput type="text" [(ngModel)]="proveedor.tipofactura">
  </mat-form-field>
  
</div>

<div mat-dialog-actions>
  <button mat-button (click)="guardarProveedor()" >Guardar</button>
  <button mat-button (click)="onNoClick()">Cancelar</button>
</div>
