<div mat-dialog-content fxLayout="column">
  <mat-form-field class="full-width">
    <label>Producto</label>
    <input matInput type="text" disabled [(ngModel)]="producto.nombre">
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Código</label>
    <input matInput type="text" disabled [(ngModel)]="producto.codigo">
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Cantidad actual</label>
    <input matInput type="text" disabled [(ngModel)]="producto.cantidad">
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Nueva cantidad</label>
    <input matInput type="text" [(ngModel)]="nuevaCantidad">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="guardar()">Guardar</button>
  <button mat-button (click)="cancelar()">Cancelar</button>
</div>
