<div class="row flex flex-direction-row justify-center add-margin content">
  <div class="details-section add-margin">
    <mat-card class="main-frame flex flex-direction-column justify-between">
      <div class="ticket add-margin">
        <mat-card-title class="heading">Proveedor:</mat-card-title>
        <ng-select placeholder="Seleccione un proveedor" [items]="proveedores" bindLabel="nombre" [(ngModel)]="proveedor" (ngModelChange)="poneleData($event)">
          <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
            <div><span [ngOptionHighlight]="search">{{item.nombre}}</span></div>
            <small><strong>Cuit:</strong> {{(item.cuit || item.cuil || '0') | cuilPipe}} | <strong>Razon Social:</strong> {{item.razonSocial}}</small>
          </ng-template>
        </ng-select>
      </div>
      <mat-card-title class="add-padding heading">Detalle de la compra</mat-card-title>
      <table class="table-items" style="width: 100%">
        <tr class="table-header">
          <th style="width: 10%;">Cant</th>
          <th>Producto</th>
          <th>Precio compra</th>
          <th style="width: 30%;">Nuevo Precio compra</th>
          <th>Monto total</th>
          <th>Eliminar</th>
        </tr>
        <tr *ngFor="let item of detalleCompra" class="item">
          <td>
            <input matInput type="number" style="background-color: lightgoldenrodyellow;"  min="1" [(ngModel)]="item.cantidadComprada"/>
          </td>
          <td>{{item.nombre}}</td>
          <td>{{item.precioCompra | currency: '$'}}</td>
          <td>
            <input style="width: 50%;background-color: lightgoldenrodyellow;" matInput type="number" min="0" [(ngModel)]="item.precioNuevoCompra"/>
          </td>
          <td>{{item.precioCompra * item.cantidadComprada | currency: '$'}}</td>
          <!-- <td>{{item.peso * item.cantidadComprada | number: '1.2' | weightPipe}}</td> -->
          <td>
            <mat-icon (click)="removeItem(item)" class="del">cancel</mat-icon>
          </td>
        </tr>
      </table>
      <mat-card-actions class="summary flex flex-direction-column">
        <div class="totals flex flex-direction-row justify-between">
          <!-- <h3>P. Total: {{totalWeight() | number: '1.2' | weightPipe}}</h3> -->
          <!-- <h3>M. Neto: {{totalAmount()*0.79 | currency: '$'}}</h3> -->
          <!-- <h3>Iva: {{totalAmount()*0.21 | currency: '$'}}</h3> -->
          <h3>Tipo Venta: 
            <mat-select [(value)]="tipoTransaccion"  style="text-align: center">
              <mat-option style="text-align: center"
              value="CUENTA CORRIENTE">CUENTA CORRIENTE</mat-option>
              <mat-option 
              style="text-align: center"
              value="EFECTIVO">EFECTIVO</mat-option>
              <mat-option
              style="text-align: center"
              value="TRANSFERENCIA">TRANSFERENCIA</mat-option>
             
              <mat-option 
              style="text-align: center"
              value="DEBITO">DEBITO</mat-option>
              <mat-option 
              style="text-align: center"
              value="1 CUOTA">1 CUOTA</mat-option>
              <mat-option 
              style="text-align: center"
              value="3 CUOTAS">3 CUOTAS</mat-option>
              <mat-option 
              style="text-align: center"
              value="MERCADO PAGO">MERCADO PAGO</mat-option>
             
           
            </mat-select>
        </h3>
          <h3>Total: {{totalAmount() | currency: '$'}}</h3>
        </div>
        <div class="flex flex-direction-row buttons">
          <button
            mat-raised-button
            color="warn"
            (click)="cerrar()"
          >
            <mat-icon>close</mat-icon>
            Cancelar
          </button>

          <button
            mat-raised-button
            color="basic"
            (click)="clearCart(true)"
            [disabled]="!hayDatos()"
          >
            <mat-icon>check</mat-icon>
            Limpiar
          </button>

          <button
            mat-raised-button
            color="primary"
            (click)="pay()"
          >
            <mat-icon>account_balance_wallet</mat-icon>
            Pagar
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="products-section add-margin">
    <mat-card class="main-frame">
      <mat-card-title class="heading">Seleccionar Productos
        <button
          mat-raised-button
          [disabled]="!this.proveedor"
          (click)="addProduct()" style="background-color:#fbc033">
          <mat-icon>add</mat-icon>
          Registrar producto
        </button>
      </mat-card-title>

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
      </mat-form-field>

      <div class="example-container" style="overflow:auto;">
        <table matSort mat-table [dataSource]="productos" style="max-height: 40% !important;" >
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Codigo </th>
            <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
          </ng-container>
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Producto </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>
    
          <ng-container matColumnDef="precioCompra" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
            <td mat-cell *matCellDef="let element"> {{element.precioCompra | currency: '$'}} </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="addToCheck(row)"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
      </div>

      <!-- <div class="flex flex-direction-row flex-wrap justify-center listado-productos">
        <div *ngFor="let item of productosBuscados" class="flex flex-direction-column item" (click)="addToCheck(item)">
          <div *ngIf="item.imagenUrl != null" [ngStyle]="{'background-image': 'url(' + item.imagenUrl + ')'}"  class="item-img"></div>
          <div *ngIf="item.imagenUrl == null" [ngStyle]="{'background-image': 'url(' + 'assets/icons/noimagen.jpg' + ')'}"  class="item-img"></div>
          <h4 class="item-name">{{item.nombre}}</h4>
        </div>
      </div> -->
    </mat-card>
  </div>
</div>
