<div class="card-container mat-elevation-z8">
  <mat-card class="add-margin" style="text-align: center;">
    <mat-card-title>Confirmar pedido</mat-card-title>
    <mat-card-content>
      <div class="form">
          <!-- Nombre -->
          <mat-form-field>
            <label>Cliente</label>
            <input matInput disabled [(ngModel)]="ventas.cliente.nombre">
          </mat-form-field>
          <!-- Precio -->
          <mat-form-field>
            <label>CUIT/CUIL</label>
            <input matInput type="text" disabled [value]="ventas.cliente.cuil | cuilPipe">
          </mat-form-field>
          <!-- Tipo Producto dropdown -->
          <mat-form-field>
              <label>Email</label>
              <input matInput type="text" disabled [(ngModel)]="ventas.cliente.email">
          </mat-form-field>

          <mat-form-field>
            <label>Razon Social</label>
            <input matInput disabled type="text" [(ngModel)]="ventas.cliente.razonSocial">
          </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <div class="form">
        <mat-form-field>
            <label>Estado</label>
            <input matInput type="text" disabled  [(ngModel)]="ventas.estado">
        </mat-form-field>

        <mat-form-field>
          <label>Fecha Pedido</label>
          <input type="datetime" disabled  matInput [value]="ventas.fechaPedido | date:'short'" />
        </mat-form-field>

        <mat-form-field>
          <label>Monto Total</label>
          <input matInput disabled type="text" [value]="ventas.total | currency:'$'" />
        </mat-form-field>

        <mat-form-field>
          <label>Peso total</label>
          <input matInput type="text" disabled [value]="ventas.pesoTotal | number : '1.2' | weightPipe" />
        </mat-form-field>

        <div class="file-upload">
          <label>Si paga por medio de transferencia, por favor adjuntar comprobante de transacción.</label>
          <label for="upload" class="file-upload__label">Subir Imagen</label>
          <input id="upload" class="file-upload__input" type="file" name="file-upload" accept="image/*" (change)="detectFiles($event)">
        </div>
        <div class="flex flex-direction-row file-upload-img">
          <img *ngIf="ventas.imagenUrl != null" [src]="ventas.imagenUrl">
        </div>
      </div>
    </mat-card-content>

    <!-- Guardar/Cancelar -->
    <mat-action-row class="new-item-action-row">
      <button
        mat-raised-button
        color="primary"
        (click)="confirmar()"
      >
        <mat-icon>check</mat-icon>
        Confirmar
      </button>
      <button
        mat-raised-button
        color="warn"
        routerLink="/pedidos/"
      >
        <mat-icon>close</mat-icon>
        Cancelar
      </button>
    </mat-action-row>
  </mat-card>
</div>
