<div mat-dialog-title fxLayout="column" style="text-align: center">{{dialogTitle}}</div>
<div [formGroup]="clientForm" mat-dialog-content fxLayout="column">
  <mat-form-field class="full-width">
    <label>Nombre</label>
    <input matInput type="text" formControlName="nombre" maxlength="40">
    <mat-error>{{errorString('nombre')}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Razón Social</label>
    <input matInput type="text" formControlName="razonSocial" maxlength="40">
    <mat-error>{{errorString('razon social')}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>CUIL</label>
    <input matInput type="text" formControlName="cuil" maxlength="15">
    <mat-error>{{errorString('cuil')}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Telefono</label>
    <input matInput type="text" formControlName="telefono" maxlength="15">
    <mat-error>{{errorString('telefono')}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Email</label>
    <input matInput type="text" formControlName="email" maxlength="40">
    <mat-error>{{errorString('email')}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Direccion</label>
    <input matInput type="text" formControlName="direccion" maxlength="70">
    <mat-error>{{errorString('direccion')}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>Tipo de Factura</label>
    <mat-select formControlName="tipoFactura">
      <mat-option *ngFor="let factura of facturas" [value]="factura.tipo">
        {{factura.tipo}}
      </mat-option>
    </mat-select>
    <mat-error>{{errorString('tipo de factura')}}</mat-error>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!clientForm.valid"
    (click)="guardarCliente()"
  >
    <mat-icon>check</mat-icon>
    Guardar
  </button>
  
  <button
    mat-raised-button
    color="warn"
    (click)="onNoClick()"
  >
    <mat-icon>close</mat-icon>
    Cancelar
  </button>
</div>
