<h1 mat-dialog-title>{{producto.id ? 'Editar producto' : 'Añadir producto'}}</h1>
<div mat-dialog-content fxLayout="column">
  <mat-form-field class="full-width">
    <input matInput type="text" placeholder="Nombre del producto *" [(ngModel)]="producto.producto">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="text" placeholder="Código *" [(ngModel)]="producto.codigo">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="number" placeholder="Stock *" [(ngModel)]="producto.cantidad">
  </mat-form-field>
  <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-around">
    <mat-form-field>
      <input matInput type="number" placeholder="Precio Compra" [(ngModel)]="producto.precioCompra">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Precio Pedido *" [(ngModel)]="producto.precioVenta">
    </mat-form-field>
  </div>
  <mat-form-field class="full-width">
    <input matInput type="text" placeholder="Marca" [(ngModel)]="producto.marca">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onSaveUpdate()" [disabled]="!producto.producto || !producto.codigo || !producto.cantidad || !producto.marca || !producto.precioVenta || !producto.precioCompra">
    {{producto.producto ? 'Actualizar' : 'Guardar'}}
  </button>
  <button mat-button (click)="onNoClick()">Cancelar</button>
</div>
