<div class="add-margin flex flex-direction-column container">
  <div class="title">
    <h1>Productos</h1>
    <p>Editar los productos listados.</p>
  </div>

  <div class="add-margin">
    <button mat-raised-button (click)="addItemToggle()">Agregar Producto</button>
  </div>

  <mat-card *ngIf="addItemActive" class="add-margin">
    <mat-card-title>Agregar Producto</mat-card-title>
    <mat-card-content>
      <form class="form">
          <!-- Nombre -->
          <mat-form-field>
            <input matInput placeholder="Nombre:" value="Item 1" name="name" [(ngModel)]="newItemName">
          </mat-form-field>
          <!-- Precio -->
          <mat-form-field>
            <input matInput placeholder="Precio ($):" type="number" value="3.25" name="value" [(ngModel)]="newItemPrice">
          </mat-form-field>
          <!-- Tipo Producto dropdown -->
          <mat-form-field>
            <mat-select placeholder="Tipo Producto:" name="productType" [(ngModel)]="newItemType">
              <mat-option *ngFor="let type of productTypes" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <label for="upload" class="file-upload__label">Subir Imagen</label>
          <input id="upload" class="file-upload__input" type="file" name="file-upload" accept="image/*" (change)="detectFiles($event)">

        </form>
    </mat-card-content>
    <!-- Guardar/Cancelar -->
    <mat-action-row class="new-item-action-row">
      <button mat-button (click)="addItem()">Guardar</button>
      <button mat-button color="warn" (click)="addItemToggle()">Cancelar</button>
    </mat-action-row>
  </mat-card>

  <!-- List of products in database -->
  <mat-accordion class="add-margin">
    <!-- Item Panel -->
    <mat-expansion-panel *ngFor="let item of test">
      <mat-expansion-panel-header>
        <mat-panel-title>{{item.nombre}}</mat-panel-title>
      </mat-expansion-panel-header>
      <!-- Guardar/Borrar buttons -->
      <mat-action-row>
        <button mat-button>Guardar</button>
        <button mat-button color="warn">Borrar</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

</div>



