<div mat-dialog-content fxLayout="column">
  <mat-form-field class="full-width">
    <label>Monto apertura</label>
    <input matInput type="text" [(ngModel)]="aperturaCaja.montoApertura">
  </mat-form-field>
  <mat-form-field class="full-width">
      <label>Descripcion</label>
    <input matInput type="text" [(ngModel)]="aperturaCaja.descripcion">
  </mat-form-field>
  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="guardar()">
    Guardar
  </button>
  <!-- <button mat-button (click)="onNoClick()">Cancelar</button> -->
</div>