<div class="container">
  <mat-card class="module-card agenda-card" [routerLink]="['/welcome']" fxLayout="column">
    <mat-icon class="module-icon">home</mat-icon>
    <h1 class="module-title">Volver al menú principal</h1>
  </mat-card>

  <mat-grid-list cols="4" rowHeight="9:8">
    <mat-grid-tile>
      <mat-card class="module-card" routerLink="/reportes" fxLayout="column">
        <mat-icon class="module-icon">insert_chart</mat-icon>
        <h1 class="module-title">Reportes</h1>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
